.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.MakerWindow {
  border: 1px;
  z-index: 1000;
}

.menu {
  border: 1px solid rgba(117,117,117,0.2);
  margin: 5px;
}

.pcoords {
  display: grid;
  float: center;
  grid-template-columns: auto auto auto;
  width: 100%;
  grid-row-gap: 10px ;
  border: 1px solid rgba(117,117,117,0.2);
  
}

.player-wrapper {
  position: relative;
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}